* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  }
  
  .card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 360px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  h1 {
    color: #ff4d6d;
    margin-bottom: 30px;
  }
  
  .buttons {
    position: relative;
    height: 80px;
  }
  
  button {
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .yes {
    background-color: #ff4d6d;
    color: white;
  }
  
  .no {
    background-color: #ddd;
    color: #333;
    position: absolute;
    transition: all 0.15s ease;
  }

  .final-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .fade-message {
    margin-top: 20px;
    animation: fadeIn 1.5s ease forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
 /* STEP 4 SCREEN */
.slider-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* SLIDER */
.love-slider {
  width: min(700px, 90vw);   
  margin: 30px 0;
}

/* LABELS CONTAINER */
.slider-labels {
  width: min(700px, 90vw);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* EACH LABEL */
.slider-labels .label {
  width: 90px;
  font-size: 12px;
  opacity: 0.4;
  transition: all 0.3s ease;
  line-height: 1.2;
}

/* ACTIVE LABEL */
.slider-labels .label.active {
  opacity: 1;
  font-weight: bold;
  color: #ff4d6d;
  transform: scale(1.15);
}

/* POPUP */
.popup {
  margin-top: 25px;
  padding: 14px 24px;
  background: white;
  border-radius: 14px;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* SHAKE */
.shake {
  animation: shake 0.4s;
}

.final-love img {
  width: 220px;
  margin-top: 20px;
  animation: fadeIn 1s ease;
}


  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }
  
  