<div class="container" (mousemove)="onMouseMove($event)">

  <!-- CARD FLOW -->
  <div class="card" *ngIf="step !== 3 && step !== 4">

    <!-- STEP 1 -->
    <ng-container *ngIf="step === 1">
      <h1>💖 Will you be my Valentine? 💖</h1>

      <div class="buttons">
        <button class="yes" (click)="goToConfirm()">Yes 💕</button>

        <button
          class="no"
          [ngStyle]="noBtnStyle"
          (mouseenter)="activateAndTeleportNo()"
          (touchstart)="activateAndTeleportNo()">
          No 💔
        </button>
      </div>
    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="step === 2">
      <h1>Are you sure? 😌</h1>
      <p>Because there is no going back…</p>

      <div class="buttons">
        <button class="yes" (click)="finalYes()">Yes, I’m very sure! 💖</button>

        <button
          class="no"
          [ngStyle]="confirmNoStyle"
          (mouseenter)="activateAndTeleportConfirmNo()"
          (touchstart)="activateAndTeleportConfirmNo()">
          No, let me think again 😏
        </button>
      </div>
    </ng-container>

  </div>

  <!-- STEP 3 : GIF -->
  <div
    *ngIf="step === 3"
    class="final-screen">

    <img src="assets/giphy.gif" style="width:200px" />
    <h2>itni khushi ?!!! itni khushi mujhe aaj tk nahi hui 💖</h2>

    <!-- FADE MESSAGE -->
    <div class="fade-message" *ngIf="showNextPrompt">
      <p>but tell me one thing 🥺</p>
      <button class="yes" (click)="goToSlider()">kya 😏</button>
    </div>
  </div>

  <!-- STEP 4 : LOVE METER -->
  <!-- STEP 4 : LOVE METER -->
<div *ngIf="step === 4" class="slider-screen">

  <h1>How much do you love me? 💖</h1>

  <input
    type="range"
    min="0"
    max="6"
    step="1"
    [(ngModel)]="loveValue"
    (change)="checkLove()"
    [class.shake]="shake"
    class="love-slider"
  />

  <!-- LABELS -->
  <div class="slider-labels">
    <div
      class="label"
      *ngFor="let label of loveLabels; let i = index"
      [class.active]="i === loveValue">
      {{ label }}
    </div>
  </div>

  <!-- POPUP -->
  <div class="popup" *ngIf="popupMessage">
    {{ popupMessage }}
  </div>

  <!-- FINAL LOVE GIF -->
<div *ngIf="showFinalGif" class="final-love">
  <img src="assets/i-got-a-little-emotional-lala-ri.gif" alt="love gif" />
</div>

<!-- CHUP BUTTON -->
<button
  *ngIf="showChupButton"
  class="yes"
  style="margin-top: 20px"
  (click)="endLoveMeter()">
  chup 🤫, itna bhi khush mt ho!
</button>


</div>

  

</div>
